:root {
    --calcW: calc(100% - 4em);
}

.settings_section {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: .5em;

    &.active {
        display: flex;
    }

    &>.grouped_settings,
    &>.label {
        max-width: 1000px;
    }

    &>.label {
        width: var(--calcW);
        padding: .5em;
        font-size: 1.5em;
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        gap: .3em;

        &>.backbtn {
            padding: 6px;
            background: var(--two);
            border-radius: 50%;
            font-size: 18px;
            line-height: 0;
            display: flex;
            align-items: center;
            aspect-ratio: 1 / 1;
            justify-content: center;
        }
    }

    &>.grouped_settings {
        max-width: 1000px;
        width: var(--calcW);
        display: flex;
        flex-direction: column;
        gap: .2em;

        &>.setting_unit {
            display: flex;
            background-color: var(--two);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            border-radius: .5em;

            &:first-child {
                border-radius: 1em 1em .5em .5em;
            }

            &:last-child {
                border-radius: .5em var(--btn-pad) 1em;
            }
        }
    }
}

.setting_toggle {
    width: 3em;
    height: 1.5em;
    border-radius: 2em;
    border: 2px solid var(--five);
    position: relative;
    background: linear-gradient(to left, var(--highlight) 50%, var(--three) 50%);
    background-size: 200% 100%;
    background-position: left;
    transition: s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.setting_toggle::after {
    content: '';
    position: absolute;
    left: .25em;
    top: .25em;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: var(--five);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.checked .setting_toggle {
    border-color: var(--highlight);
    background-position: right;
}

.checked .setting_toggle::after {
    left: 1.75em;
    background: var(--highdark);
}

.setting_button {
    background-color: var(--highlight);
    color: var(--highdark);
    padding: .7em 1.1em;
    font: inherit;
    font-size: .9em;
    border: 0;
    border-radius: 1.5em;
}

.setting_input {
    padding: .8em 0.5em;
    font: inherit;
    font-size: .9em;
    border: 0;
    border-radius: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--one);
    color: inherit;
    text-align: center;
    min-width: 0;
    width: 8em;
    outline: none;

    &:focus {
        box-shadow: 0 5px 0 -3px var(--highlight);
    }
}

.setting_dropdown {
    position: relative;
    min-width: 8em;

    &>.current_element {
        padding: .7em 1.1em;
        font: inherit;
        font-size: .9em;
        border: 0;
        border-radius: .5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--three);

        &.active {
            background: var(--highone);
            color: var(--hightext);
        }
    }


    &.open .dropdown_content {
        display: block;
    }

    .dropdown_content {
        position: absolute;
        top: 2.7em;
        width: calc(100% - 0em);
        box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
        display: none;


        &>.item {
            padding: .7em 1.1em;
            background-color: var(--three);
            border-radius: 0;

            &:hover {
                filter: brightness(120%);
            }

            &:first-child {
                border-radius: .5em .5em 0 0;
            }

            &:last-child {
                border-radius: 0 0 .5em .5em;
            }
        }
    }
}

#appList {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    width: var(--calcW);
    display: grid;
    max-width: 1000px;
    gap: .5em;
}

.app {
    display: flex;
    flex-direction: row;
    gap: .5em;
    padding: .8em;
    background-color: var(--two);
    border-radius: 1em;
    align-items: center1;

    &>.icon {
        height: 2.5em;
        aspect-ratio: 1/1;

        &>svg {
            width: 100%;
            height: 100%;
        }
    }

    &>.data {
        display: inherit;
        flex-direction: column;
        gap: .2em;

        &>.desc {
            opacity: .5;
            font-size: small;
        }
    }
}