:root {
    --one: 25, 25, 26;
    --two: 35, 36, 37;
    --three: 47, 49, 49;
    --four: 60, 60, 60;
    --five: 140, 143, 141;

    --highone: 4, 76, 117;
    --highlight: 165, 195, 249;

    --highdark: 15, 50, 110;
    --hightext: 191, 229, 254;

    --text: 240, 240, 240;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(var(--one));
    color: rgb(var(--text));
    font-family: "Google Sans",
        sans-serif;
}

.flex {
    display: flex;

    &.y {
        flex-direction: column;
    }

    &.x {
        flex-direction: row;
    }

    &>.fill {
        flex: 1;
    }

    &>.fit {
        width: fit-content;
    }
}

.sidebar {
    background-color: rgb(var(--two));
    height: calc(100vh - 1em);
    padding: .5em;
    min-width: 290px;
    border-right: 1px solid rgb(var(--three));

}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url("sharedAssets/icons.woff2") format('woff2');
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    src: url("sharedAssets/google_sans.ttf") format('truetype');
}

.icon {
    font-family: 'Material Symbols Rounded';
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.topbar {
    &>.menu_button_bar {
        z-index: 2;
        padding: 0 10px;
        padding-top: 5px;

        &>.menu_button {
            padding: .5em 1em;
            position: relative;
            transition: .3s;
            cursor: pointer;

            &.active {
                background-color: rgb(var(--two));
                border-bottom: transparent;
                box-shadow: 0 2px rgb(var(--two));
                border-radius: 10px 10px 0 0;

                &::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: rgb(var(--two));
                    mask: radial-gradient(10px at 0% 0%, #0000 98%, #000);
                    bottom: -1px;
                    left: -10px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: rgb(var(--two));
                    mask: radial-gradient(10px at 100% 0, #0000 98%, #000);
                    bottom: -1px;
                    right: -10px;
                }
            }
        }
    }

    .menu_bar {
        background-color: rgb(var(--two));
        border: 1px solid rgb(var(--three));
        border-left: none;

        &>.page {
            padding: .5em;
            gap: .5em;
        }

        & .menu_action {
            padding: .5em .8em;
            display: flex;
            flex-direction: row;
            background-color: rgb(var(--three));
            gap: .5em;
            border-radius: .5em;
        }
    }
}

.view1 {
    .content_section {

        &>.content_topbar {
            background-color: rgb(var(--two));
            border: 1px solid rgb(var(--three));
            gap: .2em;

            &>div {
                padding: .5em;
                display: flex;
                flex-direction: row;
                gap: .5em;
            }
        }
    }
}

.main_content {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(auto-fill, 10em);
    justify-content: start;
    padding: .5em;

    &>.singular_file {
        display: flex;
        flex-direction: column;
        gap: .3em;
        padding: 1em;
        border-radius: .5em;
        align-items: center;
        text-align: center;

        &.selected {
            background-color: rgb(var(--three));
            &:hover {
            background-color: rgb(var(--four));
            }
        }

        &>.icon {
            font-size: 3em;
        }

        .fileName {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover {
            background-color: rgb(var(--two));
        }
    }
}

#filesystemTree {
    padding: 1em;
    background-color: rgb(var(--one));
    overflow: auto;
    max-height: 50vh;
    border-radius: .5em;
}

.tree-node {
    --indent: 16px;
    padding-left: calc(var(--depth)*var(--indent) + 8px);
    background-image: repeating-linear-gradient(to right,
            #444 0,
            #444 1px,
            transparent 1px,
            transparent var(--indent));
    background-size: calc(var(--depth)*var(--indent)) 100%;
    background-repeat: no-repeat;
    padding-bottom: .3em;

    & .subel {
        padding: .5em 1em;
        background: rgb(var(--three));
        width: fit-content;
        border-radius: .5em;
        transform: translateX(-1em);
        min-width: 6em;
    }
}