.sidebar {
    background-color: var(--two);
    height: calc(100vh - 1em);
    padding: .5em;
    min-width: 290px;
    border-right: 1px solid var(--three);

}

.main_container {
    gap: .3em;
    margin: .3em;
}

.menu_bar {
    border-left: none;
    gap: .3em;

    &>.page {
        padding: .5em;
        gap: .5em;
    }

    & .menu_action {
        padding: var(--btn-pad);
        display: flex;
        flex-direction: row;
        background-color: var(--two);
        gap: .5em;
        border-radius: .5em;
    }
}

#media_container {
    justify-content: center;
    align-items: center;
    display: flex;
    outline: 0;
    border-radius: .5em;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--two);
    color: var(--text);
    height: calc(100vh - 3.2em);
    overflow: hidden;
    &>* {
        height: 100%;
        width: 100%;
    }
}