:root {
    --one: rgb(255 255 255);
    --two: rgb(219 219 219);
    --three: rgb(238 238 238);
    --four: rgb(255 255 255);
    --five: rgb(140, 143, 141);
}

.searchbar,
input {
    color: black;

    &::placeholder {
        color: rgba(0, 0, 0, 0.495);
    }
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#menu {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.app_shortcut {
    display: flex;
    gap: .5em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 4em;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    padding: .8em;
    border-radius: .5em;
    transition: background-color .3s;

    &>.app_icon {
        font-size: 1.5em;
        aspect-ratio: 1 / 1;
        border-radius: .5em;
        justify-content: center;
        align-items: center;
        width: 1.8em;
        display: flex;
        height: 1.8em;
        backdrop-filter: blur(1em);
        overflow: hidden;

        &>* {
            height: 100%;
            width: 100%;
        }
    }

    &:hover {
        background-color: #ffffff1c;
    }
}

.main_logo {
    font-size: 4em;
    margin: 0;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
    background-color: var(--two);
    border-radius: .5em;
    transition: box-shadow .2s;

    &:focus-within {
        box-shadow: 0 5px .5em rgba(0, 0, 0, 0.228);
    }

    &>input {
        background-color: transparent;
        color: inherit;
        font: inherit;
        border: 0;
        flex: 1;
        min-width: none;
        outline: 0;
        padding: .5em .8em;

    }

    &>* {
        padding: .2em;
    }

    &>.icon {
        background-color: var(--highdark);
        font-size: 1.3em;
        color: var(--text);
        padding: .3em .5em;
        border-radius: .3em;
        margin: .2em;
        cursor: pointer;

        &:hover {
            filter: brightness(120%);
        }
    }
}

img.bgimg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
}


.setting_dropdown {
    position: relative;
    min-width: 8em;
    z-index: 99;

    &>.current_element {
        padding: .7em 1.1em;
        font: inherit;
        font-size: .9em;
        border: 0;
        border-radius: .5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--three);

        &.active {
            background: var(--highone);
            color: var(--hightext);
        }
    }


    &.open .dropdown_content {
        display: block;
    }

    .dropdown_content {
        position: absolute;
        top: 2.7em;
        width: calc(100% - 0em);
        box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
        display: none;


        &>.item {
            padding: .7em 1.1em;
            background-color: var(--three);
            border-radius: 0;

            &:hover {
                filter: brightness(120%);
            }

            &:first-child {
                border-radius: .5em .5em 0 0;
            }

            &:last-child {
                border-radius: 0 0 .5em .5em;
            }
        }
    }
}

.grouped_settings {
    display: flex;
    flex-direction: column;
    gap: .5em;

    &>.setting_unit {
        display: flex;
        background-color: var(--two);
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding: 1em;
        border-radius: .5em;
        gap: .5em;
    }
}

.setting_button {
    background-color: var(--highlight);
    color: var(--highdark);
    padding: .7em 1.1em;
    font: inherit;
    font-size: .9em;
    border: 0;
    border-radius: .5em;
}

.setting_input {
    padding: .8em 0.5em;
    font: inherit;
    font-size: .9em;
    border: 0;
    border-radius: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--one);
    color: inherit;
    text-align: center;
    min-width: 0;
    width: 8em;
    outline: none;

    &:focus {
        box-shadow: 0 5px 0 -3px var(--highlight);
    }
}

.inputs {
    width: auto;
    padding: 0;

    &>input[type="text"] {
        flex: 1;
        text-align: inherit;
        padding: .5em .7em;
        border-radius: .5em;
        margin-right: .5em;
        background-color: var(--one);
    }
}

.editbtns {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    flex-direction: row;
    width: fit-content;

    &>* {
        padding: .5em;
        background-color: #ffffff1c;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .5em;
        cursor: pointer;

        &>* {
            line-height: 1em;
        }
    }
}

#editDialog {
    width: 500px;
    background: var(--one);
    border: 0;
    border-radius: .5em;
    outline: none;
    box-shadow: 0 5px 10px #000000ab;

    &>.header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: .5em;
        border-bottom: 1px solid var(--two);
        margin-bottom: 1em;

        &>span {
            flex: 1;
        }

        &>.icon {
            cursor: pointer;
        }
    }
}